<!-- <div>
    <p>Login</p>
    <form [formGroup]="ngForm" (ngSubmit)="loginSubmit();clicked=true">
        <p>
            <label>Email ID</label>&nbsp;&nbsp;
            <input type="email" name="email" formControlName="email" class="email" required>
        </p>
        <p>
            <label>Password</label>&nbsp;&nbsp;
            <input type="password" name="pwd" formControlName="pwd" class="pwd" required>
        </p>
        <p>
            <button type="submit" [disabled]="clicked">Submit</button>
        </p>
    </form>
</div>
 -->

<div class="home login-bg">
    <app-login></app-login>
    <div>
        <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true"></ngb-alert>
    
        <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = ''" class="alert">{{ successMessage }}
        </ngb-alert>
      </div>
    <div class="main-content">
        <div class="container">
            <div class="row height-100"></div>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <h2 class="text-center theme-color login-head">LOGIN</h2>
                    <form class="login-form" [formGroup]="ngForm" (ngSubmit)="loginSubmit();clicked=true">
                        <div class="form-group">
                            <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email" name="email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pwd" formControlName="pwd" placeholder="Password" name="pwd">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block"><span>Get Started</span></button>
                        <div class="form-group form-check login-bottom-menu">
                            <div class="row">
                                <div class="col">
                                    <a class="link" (click)="craeteAccount()" style="cursor: pointer;color:steelblue;">CREATE ACCOUNT</a>
                                </div>
                                <div class="col">
                                    <a href="#" style="float: right;">NEED HELP?</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>