<div class="content-wrapper">
    <div  class="section section-notifications">
        <div *ngIf="message ==='success'" class="alert alert-success" role="alert">
          <div class="container">
            <div class="alert-icon">
              <i class="now-ui-icons ui-2_like"></i>
            </div>
            <strong>Well done!</strong> Successfully Submitted
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </span>
            </button>
          </div>
        </div>
        <div  *ngIf="message ==='warning'" class="alert alert-danger" role="alert">
          <div class="container">
            <div class="alert-icon">
              <i class="now-ui-icons objects_support-17"></i>
            </div>
            <strong>Error!!</strong> Try Again
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">
                <i class="now-ui-icons ui-1_simple-remove"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="head-title">Company Details</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 profile-edit">

                    <div class="card">
                        <div class="card-body">
                            <form [formGroup]="ngForm" (ngSubmit)="companySubmit()">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Company Name</label>
                                        <input type="text" class="form-control" formControlName="companyName"
                                            placeholder="" [value]=ngForm?.value.companyName>
                                    </div>
                                    <div class="col-4">
                                        <label>Industry</label>
                                        <select class="form-control" formControlName="companyIndustry"
                                        placeholder="" [value]=ngForm?.value.companyIndustry data-size="7"
                                        data-style="btn btn-primary btn-round btn-block" title="Select Industry Type">
                                        <option *ngFor="let industry of industryData" [value]="industry?.industryType">
                                            {{industry?.industryType}}</option>
                                    </select>
                                        <!-- <input type="text" class="form-control" formControlName="companyIndustry"
                                            placeholder="" [value]=ngForm?.value.companyIndustry> -->
                                    </div>
                                    <div class="col-4">
                                        <label>Location</label>
                                        <input type="text" class="form-control" formControlName="companyLocations"
                                            placeholder="" [value]=ngForm?.value.companyLocations>
                                    </div>
                                    <div class="col-6">
                                        <label>URL</label>
                                        <input type="text" class="form-control" placeholder=""
                                            formControlName="companyUrl" [value]=ngForm?.value.companyUrl>
                                    </div>
                                    <div class="col-6">
                                        <label>LinkedIn URL</label>
                                        <input type="text" class="form-control" formControlName="companyLinkedin"
                                            placeholder="" [value]=ngForm?.value.companyLinkedin>
                                    </div>
                                    <div class="col-12">
                                        <label>Description</label>
                                        <textarea class="form-control" formControlName="companyDescription"
                                            [value]=ngForm?.value.companyDescription placeholder=""></textarea>
                                    </div>
                                    
                                    <div class="col-12">
                                      <br>
                                        <button type="submit" class="btn btn-primary"
                                            style="float: right;"><i class="fas fa-save"></i>&nbsp;Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>