<!-- <div>
    <button >Login</button>
    <button >Register</button>
</div> -->

<div>
    <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img src="../../../assets/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto custom-menu">
        <li class="nav-item active">
          <a class="nav-link" href="#"><span>Service</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><span>Data</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><span>Leads</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><span>Package</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><span>Contact</span></a>
        </li>
       <!--  <li class="nav-item active">
          <a class="nav-link" (click)="registerEnter()" style="cursor: pointer;"><span>Register</span></a>
        </li> -->
      </ul>
        <button class="btn btn-primary  my-2 my-sm-0 login-btn" (click)="loginEnter()">LOGIN</button>
    </div>
  </nav>
</div>