<!-- <div>
    <form [formGroup]="ngForm" (ngSubmit)="passwordSubmit();clicked=true">
        <p>
            <label>Email ID</label>&nbsp;&nbsp;{{email}}
           
        </p>
        <p>
            <label>Password</label>&nbsp;&nbsp;
            <input type="password" name="pwd" formControlName="pwd" class="pwd" required>
        </p>
        <p>
            <button type="submit" [disabled]="clicked">Submit</button>
        </p>
    </form>
</div> -->
<!-- <div>
    <p>Register</p>
    <form [formGroup]="ngForm" (ngSubmit)="registerSubmit();clicked=true">
        <p>
            <label>Email ID</label>&nbsp;&nbsp;
            <input type="email" name="email" formControlName="email" class="email" required>
            <button type="submit" [disabled]="clicked">Register</button>
        </p>
    </form>
</div>
 -->
 
 <div class="home register-bg">
  <div>
    <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img src="../../../assets/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto custom-menu">
        <li class="nav-item active">
          <a class="nav-link" href="#"><span>Service</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><span>Data</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><span>Leads</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><span>Package</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><span>Contact</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="registerEnter()" style="cursor: pointer;"><span>Register</span></a>
        </li>
      </ul>
        <button class="btn btn-primary  my-2 my-sm-0 login-btn" (click)="loginEnter()">LOGIN</button>
    </div>
  </nav>
</div>
<div  class="section section-notifications">
  <div *ngIf="message ==='success'" class="alert alert-info" role="alert">
    <div class="container">
      <div class="alert-icon">
        <i class="now-ui-icons ui-2_like"></i>
      </div>
      <strong>Warning!!</strong> Email already Registered
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
          <i class="now-ui-icons ui-1_simple-remove"></i>
        </span>
      </button>
    </div>
  </div>
  <div  *ngIf="message ==='warning'" class="alert alert-danger" role="alert">
    <div class="container">
      <div class="alert-icon">
        <i class="now-ui-icons objects_support-17"></i>
      </div>
      <strong>Warning!!</strong>Password and Confirm Password Must be Same
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
          <i class="now-ui-icons ui-1_simple-remove"></i>
        </span>
      </button>
    </div>
  </div>
</div>
    <div class="main-content">
        <div class="container">
          <div class="row height-50"></div>
          <div class="row">
        <div class="col">
          <div class="col-md-12">
            <div class="list-group-flush">
              <div class="list-group-item border-0">
                <p class="icon-title icon1"><img src="../../../assets/Marketing-icon.png"> Marketing</p>
                <p class="icon-desc">We've created the marketing campaign of the website. It was a very interesting collaboration.</p>
              </div>
              <div class="list-group-item border-0">
                <p class="icon-title icon2"><img src="../../../assets/pause.png"> Fully Coded in HTML5</p>
                <p class="icon-desc">We've created the marketing campaign of the website. It was a very interesting collaboration.</p>
              </div>
              <div class="list-group-item border-0">
                <p class="icon-title icon3"><img src="../../../assets/Build.png"> Vacation</p>
                <p class="icon-desc">We've created the marketing campaign of the website. It was a very interesting collaboration.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col register-border">
          <h2 class="text-center theme-color login-head">REGISTER</h2>
          <div class="social-icons">
            <ul>
              <li><a href="#"><img src="../../../assets/Facebook.png"></a></li>
              <li><a href="#"><img src="../../../assets/Twitter.png"></a></li>
              <li><a href="#"><img src="../../../assets/Linkedin.png"></a></li>
            </ul>
          </div>
          <h4 class="register-sub-title">or be classical</h4>
          <form class="login-form" [formGroup]="ngForm" (ngSubmit)="passwordSubmit();clicked=true">
        <div class="form-group">
            <!-- <i class="email">{{email}}</i> -->
           <input type="email" class="form-control" id="email" [value]="email" formControlName="email" placeholder="Email" name="email" readonly>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="pwd" formControlName="pwd" placeholder="Password" name="pswd">
        </div> 
        <div class="form-group">
          <input type="password" class="form-control" id="confirm-pwd" formControlName="cpwd" placeholder="Confirm Password" name="cpwd">
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I agree to the terms and conditions.
          </label>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block"><span>Get Started</span></button>
      </form>
        </div>
      </div>
        </div>
    </div>
    </div>
    