<!-- 
<nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#"><img src="../../../assets/custom-img/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-color="white">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" >
                      <p>ABOUT</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >
                      <p>SERVICE</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >
                      <p>DATA</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >
                      <p>LEADS</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >
                      <p>PACKAGE</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >
                      <p>CONTACT</p>
                    </a>
                </li>
                <li class="nav-item" routerLink="/register">
                    <a class="nav-link">
                      <p>REGISTER</p>
                    </a>
                </li>
              
                <li class="nav-item" routerLink="/userlogin">
                    <a class="nav-link btn btn-info btn-round btn-sm  btn-login">
                       <p>LOGIN</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

 -->
 <nav class="navbar navbar-expand-lg bg-white navbar-absolute">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="https://demos.creative-tim.com/now-ui-kit-pro/index.html" rel="tooltip"  data-placement="bottom" target="_blank">
        <img src="assets/custom-img/logo.png" width="300">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar top-bar"></span>
        <span class="navbar-toggler-bar middle-bar"></span>
        <span class="navbar-toggler-bar bottom-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" data-nav-image="../../../assets/img/blurred-image-1.jpg" data-color="orange">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a  class="nav-link">
            <p>ABOUT</p>
          </a>
        </li>
        <li class="nav-item">
          <a  class="nav-link">
            <p>SERVICE</p>
          </a>
        </li>
        <li class="nav-item">
          <a  class="nav-link">
            <p>DATA</p>
          </a>
        </li>
        <li class="nav-item">
          <a  class="nav-link">
            <p>LEADS</p>
          </a>
        </li>
        <li class="nav-item">
          <a  class="nav-link">
            <p>PACKAGE</p>
          </a>
        </li>
        <li class="nav-item">
          <a  class="nav-link">
            <p>CONTACT</p>
          </a>
        </li>
        <li class="nav-item" routerLink="/register">
          <a  class="nav-link">
            <p>REGISTER</p>
          </a>
        </li>
        <li class="nav-item" routerLink="/userlogin">
          <a class="nav-link btn btn-info">
            <p>LOGIN</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>