<div>
  
    <div>
        <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true"></ngb-alert>
    
        <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = ''" class="alert">{{ successMessage }}
        </ngb-alert>
      </div>
    <form class="" [formGroup]="ngForm" (ngSubmit)="jobSubmit()">
        <p>
            <input type="text" class="form-control" formControlName="companyName" id="name" placeholder="Company Name"
                name="companyName">
        </p>
        <p>
            <input type="text" class="form-control" formControlName="companyUrl" id="url" placeholder="Company URL"
                name="companyUrl">
        </p>
        <p>
            <input type="text" class="form-control" formControlName="companyLinkedin" id="linkedin"
                placeholder="Company LinkedIn" name="companyLinkedin">
        </p>
        <p>
            <input type="text" class="form-control" formControlName="companyDescription" id="cdescp"
                placeholder="Company Description" name="companyDescription">
        </p>
        <p>
            <input type="text" class="form-control" formControlName="companyIndustry" id="industry"
                placeholder="Company Industry" name="companyIndustry">
        </p>
        <p>
            <input type="text" class="form-control" formControlName="companyLocations" id="clocation"
                placeholder="Company Location" name="companyLocations">
        </p>
        <p>
            <input type="text" class="form-control" formControlName="noOfVacancies" id="noofvacancy"
                placeholder="No.Of Vacancy" name="noOfVacancies">
        </p>
        <p>
            <input type="text" class="form-control" formControlName="jobTitle" id="jobtitle" placeholder="Job Title"
                name="jobTitle">
        </p>
        <p>
            <input type="text" class="form-control" formControlName="jobDescription" id="jdesc"
                placeholder="Job Description" name="jobDescription">
        </p>
        <p>
            <input type="text" class="form-control" formControlName="yearsOfExp" id="exp"
                placeholder="Years of Experience" name="yearsOfExp">
        </p>

        <p>
            <input type="text" class="form-control" formControlName="jobLocation" id="jlocation"
                placeholder="Job Location" name="jobLocation">
        </p>
        <p>
            <input type="text" class="form-control" formControlName="minSalaryRange" id="minsalary"
                placeholder="Minimum Salary Range" name="minSalaryRange">
        </p>
        <p>
            <input type="text" class="form-control" formControlName="maxSalaryRange" id="maxsalary"
                placeholder="Maximum Salary Range" name="maxSalaryRange">
        </p>
        <p>
            <input type="text" class="form-control" formControlName="industryVacancy" id="industryVacancy"
                placeholder="Industry Vacancy" name="industryVacancy">
        </p>
        <p>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
        </p>
    </form>
</div>