<div class="content-wrapper">
  <div class="section section-notifications">
    <div *ngIf="message ==='success'" class="alert alert-success" role="alert">
      <div class="container">
        <div class="alert-icon">
          <i class="now-ui-icons ui-2_like"></i>
        </div>
        <strong>Well done!</strong> Successfully Assigned
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">
            <i class="now-ui-icons ui-1_simple-remove"></i>
          </span>
        </button>
      </div>
    </div>
    <div *ngIf="message ==='warning'" class="alert alert-danger" role="alert">
      <div class="container">
        <div class="alert-icon">
          <i class="now-ui-icons objects_support-17"></i>
        </div>
        <strong>Error!!</strong> Try Again
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">
            <i class="now-ui-icons ui-1_simple-remove"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="head-title">Job Assigning</h1>
        </div>

      </div>
    </div>
  </div>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10 profile-edit">

          <div class="card">
            <div class="card-body">
              <div class="row">
                <table class="col-6">
                  <tr>
                    <th>Job Title</th>
                    <td>{{jobData?.jobTitle}}</td>
                  </tr>
                  <tr>
                    <th>Minimum Salary</th>
                    <td>{{jobData?.minSalaryRange}}</td>
                  </tr>
                  <tr>
                    <th>Maximum Salary</th>
                    <td>{{jobData?.maxSalaryRange}}</td>
                  </tr>
                  <tr>
                    <th>Industry Vacancy</th>
                    <td>{{jobData?.industryVacancy}}</td>
                  </tr>
                  <tr>
                    <th>Years of Experience</th>
                    <td>{{jobData?.yearsOfExp}}</td>
                  </tr>
                  <tr>
                    <th>Company Name</th>
                    <td>{{jobData?.companyName}}</td>
                  </tr>
                  <tr>
                    <th>Company Description</th>
                    <td>{{jobData?.companyDescription}}</td>
                  </tr>

                </table>
                <table class="col-6">
                  <tr>
                    <th>Job Locations</th>
                    <td>{{jobData?.jobLocation}}</td>
                  </tr>

                  <tr>
                    <th>No.of Vacancies</th>
                    <td>{{jobData?.noOfVacancies}}</td>
                  </tr>
                  <tr>
                    <th>Job Description</th>
                    <td>{{jobData?.jobDescription}}</td>
                  </tr>
                  <tr>
                    <th>Company Industry</th>
                    <td>{{jobData?.companyIndustry}}</td>
                  </tr>
                  <tr>
                    <th>Company LinkedIn URL</th>
                    <td>{{jobData?.companyLinkedin}}</td>
                  </tr>
                  <tr>
                    <th>Company Locations</th>
                    <td>{{jobData?.companyLocations}}</td>
                  </tr>
                  <tr>
                    <th>Company URL</th>
                    <td>{{jobData?.companyUrl}}</td>
                  </tr>

                </table>
              </div>
              <form [formGroup]="ngForm" (ngSubmit)="assignSubmit();clicked=true">
                <div class="row">
                  <div class="col-6">
                    <label>Assign To</label>

                    <select class="form-control" formControlName="assignTo" placeholder="" data-size="7"
                      data-style="btn btn-primary btn-round btn-block" title="Select User">
                      <option *ngFor="let user of userData" [value]="user?._id">
                        {{user?.firstName}}&nbsp;{{user?.lastName}}</option>
                    </select>

                  </div>
                  <div class="col-4">
                    <br>
                    <button type="submit" [disabled]="clicked" class="btn btn-primary" style="position: relative;
                      top: 5px;">Assign Job</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>