<!-- <div>
  <b>Company Name</b>  {{jobData?.companyName}}<br>
   <b>Location</b> {{jobData?.companyLocations}}<br>
   <b>Company URL</b> {{jobData?.companyUrl}}<br>
    <b>Recruiter ID</b>{{jobData?.recruiterId}}
</div>
<button (click)="Back()">Back To Job List</button> -->
<div class="content-wrapper">
  <div class="content-header">
      <div class="container-fluid">
          <div class="row mb-2">
              <div class="col-sm-6">
                  <h1 class="head-title">Job Details</h1>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-12">

          </div>
          <div class="col-md-10 ml-auto mr-auto">

              <div class="card card-plain">
                  <div class="card-body">
                      <div class="row">
                          <table class="col-6">
                            <tr>
                              <th>Job Title</th>
                              <td>{{jobData?.jobTitle}}</td>
                            </tr>
                            <tr>
                              <th>Minimum Salary</th>
                              <td>{{jobData?.minSalaryRange}}</td>
                            </tr>
                            <tr>
                              <th>Maximum Salary</th>
                              <td>{{jobData?.maxSalaryRange}}</td>
                            </tr>
                            <tr>
                              <th>Industry Vacancy</th>
                              <td>{{jobData?.industryVacancy}}</td>
                            </tr>
                            <tr>
                              <th>Years of Experience</th>
                              <td>{{jobData?.yearsOfExp}}</td>
                            </tr>
                            <tr>
                              <th>Company Name</th>
                              <td>{{jobData?.companyName}}</td>
                            </tr>
                            <tr>
                              <th>Company Description</th>
                              <td>{{jobData?.companyDescription}}</td>
                            </tr>
                      
                          </table>
                          <table class="col-6">
                            <tr>
                              <th>Job Locations</th>
                              <td>{{jobData?.jobLocation}}</td>
                            </tr>
                              <tr>
                                <th>Job Locations</th>
                                <td>{{jobData?.jobLocation}}</td>
                              </tr>
                              <tr>
                                <th>No.of Vacancies</th>
                                <td>{{jobData?.noOfVacancies}}</td>
                              </tr>
                              <tr>
                                <th>Job Description</th>
                                <td>{{jobData?.jobDescription}}</td>
                              </tr>
                              <tr>
                                <th>Company Industry</th>
                                <td>{{jobData?.companyIndustry}}</td>
                              </tr>
                              <tr>
                                <th>Company LinkedIn URL</th>
                                <td>{{jobData?.companyLinkedin}}</td>
                              </tr>
                              <tr>
                                <th>Company Locations</th>
                                <td>{{jobData?.companyLocations}}</td>
                              </tr>
                              <tr>
                                <th>Company URL</th>
                                <td>{{jobData?.companyUrl}}</td>
                              </tr>
                             
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>