<div id="wrapper">
    <div id="sidebar-wrapper">
       <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <div *ngIf="user" class="author">
              <img src="https://recruiter-gallery.s3.us-east-2.amazonaws.com/{{fileName}}"  alt="..." class="rounded-circle img-raised" width="30">
              <span style="color:#fff;">{{profileData?.firstName}}&nbsp;{{profileData?.lastName}}</span>
          </div>
          </li>
          <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item has-treeview">
            <a [routerLink]="[menuItem.path]" class="nav-link" >
                <i class="now-ui-icons {{menuItem.icon}}"></i> {{menuItem.title}} </a>
          </li>
       </ul>
    </div>
 </div>