<nav class="navbar navbar-expand-lg bg-white fixed-top">
    <a class="navbar-brand" href="#pablo"><img src="../../../assets/custom-img/logo.png" width="200"></a>
    <div class="container">
       <div class="navbar-translate">
          <a href="#menu-toggle" class="" id="menu-toggle">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
          </a>
       </div>
       <!-- <div class="navbar-translate">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar-profile" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
          </div> -->
       <div class="collapse navbar-collapse show" id="example-navbar-profile" data-nav-image="../../../assets/img//blurred-image-1.jpg">
          <ul class="navbar-nav ml-auto">
             <li class="nav-item active">
                <div class="input-group">
                   <input type="text" class="form-control" placeholder="Search">
                   <div class="input-group-append">
                      <span class="input-group-text"><i class="now-ui-icons ui-1_zoom-bold"></i></span>
                   </div>
                </div>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="#pablo">
                   <i class="now-ui-icons media-2_sound-wave"></i>
                   <p><span class="d-lg-none d-md-block">Stats</span></p>
                </a>
             </li>
             <li class="nav-item dropdown nav-item-image">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                   <div *ngIf="user" class="">
                      <img src="https://recruiter-gallery.s3.us-east-2.amazonaws.com/{{fileName}}"  alt="">
                   </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                   
                    <a href [routerLink]="['/dashboard/editprofile']" class="dropdown-item">
                        Edit
                      </a>
                      <a href [routerLink]="['/userlogin']" class="dropdown-item">Logout
                      </a>
                </div>
             </li>
          </ul>
       </div>
    </div>
 </nav>
 
 