.custom-menu li{
	text-transform: uppercase;
    font-weight: 600;
    margin-right: 15px;
}
.login-btn { font-weight: 600;text-transform: uppercase; }
.login-bg {
	background: url(../assets/login-bg.png);
	background-size: cover; 
	background-repeat: no-repeat; 
}
.register-bg {
	background: url(../assets/signup-banner.png);
	background-size: cover; 
	background-repeat: no-repeat;
}
.login-form {
	width: 400px;
    margin: 0 auto;
}
.login-form input{
	border-radius: 20px;
	margin-bottom: 30px;
	height: 45px;
}
.login-form input:focus{
	box-shadow: none;
}
.login-form button {
	margin: 0 auto;
    display: flex;
    border-radius: 20px;
    margin-top: 20px;
}
.login-form button span{
    margin: 0 auto;
}
.theme-color{
	color: #007FEB;
}
.height-100 {height: 100px;}
.height-50 {height: 50px;}
.login-bottom-menu {
	margin-top: 20px;
}
.login-head {
	margin-bottom: 30px;
	font-weight: normal;
}
.icon-title {
	color: #007FEB;
	font-weight: 500;
    font-size: 20px;
    margin-bottom: 0px;
}
/*.icon-title img {margin-right: 20px;}*/
.icon-desc {
	margin-left: 80px;
}
.icon1 img{
	margin-right:20px;
}
.icon2 img{
	margin-right:50px;
}
.icon3 img{
	margin-right:40px;
}
.social-icons ul {
	list-style: none;
	display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons ul li{
	float: left;
	margin-right: 20px;
}
.register-sub-title {
	opacity: 0.5;
    color: #5E6C73;
    text-align: center;
    margin: 30px 0px;
    font-weight: normal;
}
.login-form .form-check-input {
	height: auto;
}
.register-border{
	    border: 1px solid #f5f5f5;
    padding: 50px 0px;
}
.logo-img img{
	width: 230px;
	padding: 5px 0px;
}
.brand-link {
	background: #fff;
	padding: 0px;
}
.main-sidebar {
	background: #007FEB;
}
.user-panel a{ color:#fff !important; }
.user-panel {border-color: #fff !important;}
.sidebar .nav-link p {color:#fff;}
.profile-edit input{margin-bottom:20px;}
.head-title{color: #007FEB;}
.profile-edit label {    font-weight: 400 !important;}
.user-desc {margin-top:50px;}
.user-name {text-align: center;
    font-size: 20px;
    font-weight: 400;}
.user-job {text-align: center;font-size: 16px;
    font-weight: 500;
    opacity: .4;}
 .user-description {text-align: center;opacity: .7;}
 .custom-menu li{
	text-transform: uppercase;
    font-weight: 600;
    margin-right: 15px;
}
.login-btn { font-weight: 600;text-transform: uppercase; }

.login-form {
	width: 400px;
    margin: 0 auto;
}
.login-form input{
	border-radius: 20px;
	margin-bottom: 30px;
	height: 45px;
}
.login-form input:focus{
	box-shadow: none;
}
.login-form button {
	margin: 0 auto;
    display: flex;
    border-radius: 20px;
    margin-top: 20px;
}
.login-form button span{
    margin: 0 auto;
}
.theme-color{
	color: #007FEB;
}
.height-100 {height: 100px;}
.height-50 {height: 50px;}
.login-bottom-menu {
	margin-top: 20px;
}
.login-head {
	margin-bottom: 30px;
	font-weight: normal;
}
.icon-title {
	color: #007FEB;
	font-weight: 500;
    font-size: 20px;
    margin-bottom: 0px;
}
/*.icon-title img {margin-right: 20px;}*/
.icon-desc {
	margin-left: 80px;
}
.icon1 img{
	margin-right:20px;
}
.icon2 img{
	margin-right:50px;
}
.icon3 img{
	margin-right:40px;
}
.social-icons ul {
	list-style: none;
	display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons ul li{
	float: left;
	margin-right: 20px;
}
.register-sub-title {
	opacity: 0.5;
    color: #5E6C73;
    text-align: center;
    margin: 30px 0px;
    font-weight: normal;
}
.login-form .form-check-input {
	height: auto;
}
.register-border{
	    border: 1px solid #f5f5f5;
    padding: 50px 0px;
}
.logo-img img{
	width: 230px;
	padding: 5px 0px;
}
.brand-link {
	background: #fff;
	padding: 0px;
}
.main-sidebar {
	background: #007FEB;
}
.user-panel a{ color:#fff !important; }
.user-panel {border-color: #fff !important;}
.sidebar .nav-link p {color:#fff;}
.profile-edit input{margin-bottom:20px;}
.head-title{color: #007FEB;}
.profile-edit label {    font-weight: 400 !important;}
.user-desc {margin-top:50px;}
.user-name {text-align: center;
    font-size: 20px;
    font-weight: 400;}
.user-job {text-align: center;font-size: 16px;
    font-weight: 500;
    opacity: .4;}
 .user-description {text-align: center;opacity: .7;}
.plan-title-head {
	text-align: center;
    color: #007feb;
    font-size: 40px;
}
.plan-desc {    
	text-align: center;
    font-size: 17px !important;
    width: 100% !important;
    margin: 0 auto;
    opacity: 0.7;
    }
.plan-desc-head{    text-align: center;
    font-size: 20px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px !important;
}
 .plan-img {width: 100%;}
 .plan-price {text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 20px;
}
.plan button{
	display: flex;
    margin: 0 auto;
    margin-top: 20px;
}
.block-bg {
	background-image: url('../assets/blog-bg.png');
	background-size: cover;
}
.content-wrapper{
	background-color: #fff;
}
