<div class="content-wrapper">
    <div class="section section-notifications">
        <div *ngIf="message ==='success'" class="alert alert-success" role="alert">
            <div class="container">
                <div class="alert-icon">
                    <i class="now-ui-icons ui-2_like"></i>
                </div>
                <strong>Well done!</strong> Successfully Submitted
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </span>
                </button>
            </div>
        </div>
        <div *ngIf="message ==='warning'" class="alert alert-danger" role="alert">
            <div class="container">
                <div class="alert-icon">
                    <i class="now-ui-icons objects_support-17"></i>
                </div>
                <strong>Error!!</strong> Try Again
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="head-title">Job Search</h1>
                </div>

            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 profile-edit">

                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <form [formGroup]="ngForm" (ngSubmit)="linkedinSubmit()" class="col-6">
                                    <div class="row">
                                        <div class="col-8">
                                            <label>LinkedIn URL</label>
                                            <input type="text" class="form-control" placeholder=""
                                                formControlName="linkedin" [value]=ngForm?.value.linkedin>
                                        </div>

                                        <div class="col-4">
                                            <br>
                                            <button type="submit" class="btn btn-primary" style="position: relative;
                                            top: 5px;"><i class="fas fa-search"></i>&nbsp;Search</button>
                                        </div>
                                    </div>
                                </form>
                                <!--  <div class="col-1">(OR)</div> -->
                                <form [formGroup]="fileForm" (ngSubmit)="fileSubmit()" class="col-6">
                                    <div class="col-8">
                                        <label>Upload CSV File</label>
                                        <input type="file" accept=".csv" name="file" (change)="onChangeFile($event.target.files)"
                                        formControlName="file" class="form-control" required>
                                    </div>
                                    <div class="col-4">
                                        
                                        <button type="submit" class="btn btn-primary" style="float: right;position: relative;
                                        left: 226px;
                                        bottom: 43px;"><i
                                                class="fas fa-upload"></i>&nbsp;Upload</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>