<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="head-title">Company Details</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
            <div class="col-md-10 ml-auto mr-auto">

                <div class="card card-plain">
                    <div class="card-body">
                        <div class="row">
                            <table class="col-6">
                                <tr>
                                    <th>Company Name</th>
                                    <td>{{companyData?.companyName}}</td>
                                </tr>
                                <tr>
                                    <th>Company URL</th>
                                    <td>{{companyData?.companyUrl}}</td>
                                </tr>
                                <tr>
                                    <th>Company LinkedIn URL</th>
                                    <td>{{companyData?.companyLinkedin}}</td>
                                </tr>
                               
                            </table>
                            <table class="col-6">
                                <tr>
                                    <th>Company Locations</th>
                                    <td>{{companyData?.companyLocations}}</td>
                                </tr>
                                <tr>
                                    <th>Company Industry</th>
                                    <td>{{companyData?.companyIndustry}}</td>
                                </tr>
                                <tr>
                                    <th>Company Description</th>
                                    <td>{{companyData?.companyDescription}}</td>
                                </tr>
                               
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>